html
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper{
    margin-left: 2rem;
    margin-right: 2rem;
}


.counterHead{
    
    font-size: 1.5rem;
}

.mobile{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.mobile ul{
    padding: 0;
}

.mobile li{
    list-style-type: none;
    padding: 0;
    background-color:#4caf50;
}

.mobile a{
    text-decoration: none;
    font-family: Nunito Sans;
    font-size: 0.75rem;
    color: white;
}

hr{
    border-top: 1px solid #4caf50;
}

.bold{
    border-top: 10px solid #4caf50;
}

.desktop{
    display: none;
}

button{
    background-color: rgb(249, 255, 249);
    border: 2px solid #08420a;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
}

.buttons{
    width: 5rem;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: left;
}





.content img{
    max-width: 25rem;
    width: 100%;
    height: auto;
}

.content p{
    font-family: Nunito Sans;
    font-size: 0.75rem;
}

.social a{
    color: #043205;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 4px 2px;
}

/* Media Query for 960px and larger */
   
@media screen and (min-width: 60em) {



body{
    max-width: 70%;
    margin: auto;
    font-size: 1rem;
}

.mainHead{
    
    text-align: center;
}

.contentHead{
    
    font-size: 2rem;
}

.mobile{
    display: none;
}

.desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.desktop ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.desktop li{
    list-style-type: none;
    padding: 0;
}

.desktop a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    background-color:#4caf50;
    border: 2px solid white ;
    padding: 15px 30px;
    display: inline-block;
    margin: 4px 8px;
}



.content{
    padding-bottom: 3rem;
    overflow: auto;
}

.content img{
    width: 25%;
    height: auto;
    float: left;
   
}

.content p{
    display: flex;
    font-size: 1rem;
    margin: 1rem;
    align-items: center;
    align-content: center;
    justify-content: center;
}

footer{
    bottom: 0;
}

}

